<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brunobarros.hifootball">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".State"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".linha2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".CreateEvent" android:screenOrientation="portrait"/>
        <activity
            android:name=".teste"
            android:label="@string/title_activity_teste"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChangeIP" android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".History" android:screenOrientation="portrait"/>
        <activity android:name=".HomeTeam" />
        <activity android:name=".VisitingTeam" />
        <activity android:name=".AnnotateEvents" android:screenOrientation="landscape"></activity>
        <activity android:name=".Pop" android:screenOrientation="landscape" android:theme="@style/AppTheme.Pop"/>
        <activity android:name=".Login" android:theme="@style/AppTheme.Pop"/>
        <activity android:name=".Foul" android:theme="@style/AppTheme.Pop"/>
        <activity android:name=".InitialPage" android:theme="@style/AppTheme.Pop"/>
    </application>

</manifest>
